<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Minimal Django File Upload Example</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
</head>


<div class="container">
  <div class="jumbotron" style="text-align:center; background-color:rgba(150, 200, 37, 0.2) !important">
    <h1 style="font-size:7.2em">News Classifier</h1>
      <h3>Article: {{ main_doc.title }} </h3>
      <em>Source: {{ main_doc.publisher}}</em>
      <em><a href="{{ main_doc.link }}">{{ main_doc.link }} </a> </em>
  </div>



  <div class="col-md-3">
    <div class="jumbotron" style="padding-top:5px; padding-left:5px; text-align:left; font-size:7.2em; background-color:rgba(100, 0, 150, .2) !important">
      <h2>QK SHDFKSEF ASEFKSHEF SEF</h2>
    </div>
  </div>

  <div class="col-md-3">
    <div class="jumbotron" style="padding-top:5px; padding-left:5px; text-align:left; font-size:7.2em; background-color:rgba(150, 0, 100, .2) !important">
      <h2>QK SHDFKSEF ASEFKSHEF SEF</h2>
    </div>
  </div>

  <div class="col-md-3">
    <div class="jumbotron" style="padding-top:5px; padding-left:5px; text-align:left; font-size:7.2em; background-color:rgba(250, 0, 0, .2) !important">
      <h2>QK SHDFKSEF ASEFKSHEF SEF</h2>
    </div>
  </div>

</div>

<body>
<h1> Main Doc </h1>
{{ main_doc.title }}

{% if docs_remaining %}
<h1> Remaining Docs </h1>
<ul>
    {% for document in docs_remaining %}
    <li><a href="{{ document.title }}">{{ document.title }}</a></li>
    {% endfor %}
</ul>
{% else %}
<p>No documents.</p>
{% endif %}

</body>

</html> 
