<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>News Balancer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/68b216298f.js"></script>
</head>


<body>


<div class="container">
    <div class="jumbotron" style="text-align:center; background-color:rgba(150, 200, 37, 0.2) !important">
        <a href="/myapp/list" class="header" style="text-decoration:none;color:black;font-size:6em"> News <i
                class="fa fa-balance-scale" aria-hidden="true"></i> Balancer</a>
        <h3><u>Article: {{ main_doc.title }} </u></h3> <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        <em>Source: {{ main_doc.publisher }} </em>
        <em><a href="{{ main_doc.link }}">{{ main_doc.link }} </a> </em>
    </div>

    <div class="text-center" style="padding-top:0px">
        <form method="POST" action="/myapp/search/">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="input-group">
                        <input type="text" name="textfield" class="form-control" placeholder="Search for...">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Go!</button>
                  </span>
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->
        </form>
    </div>

    <div class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar" style="width:{{num1}}%">
        </div>
        <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" style="width:{{num2}}%">
        </div>

    </div>
        <div class="text-center" style="padding-top:0px">

                <div align="center" class="glyphicon glyphicon-ok text-center" aria-hidden="true"></div>
            = Trustworthy
            <div class="glyphicon glyphicon-thumbs-down text-center" aria-hidden="true"></div>
            = Untrustworthy
            </div>

    <div class="col-md-4">
        <h1> Liberal </h1>
        <div class="jumbotron"
             style="padding-top:5px; padding-left:5px; text-align:left; font-size:.9em; background-color:rgba(0, 50, 150, .2) !important">
            {% for document in docs_lib %}
            <li>
                <em>{{ document.publisher }}</em> <a href="{{ document.link }}">{{ document.title }}</a>
                {% if document.cred > 40 %}
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                {% endif %}
                {% if document.cred < 10 %}
                <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                {% endif %}
            </li>
            {% endfor %}
        </div>
    </div>

    <div class="col-md-4" width=30%>
        <h1 align="center"> Moderate </h1>
        <div class="jumbotron"
             style="padding-top:5px; padding-left:5px; text-align:left; font-size:.9em; background-color:rgba(150, 0, 100, .2) !important">
            {% for document in docs_mid %}
            <li>
                <em>{{ document.publisher }}</em> <a href="{{ document.link }}">{{ document.title }}</a>
                {% if document.cred > 40 %}
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                {% endif %}
                {% if document.cred < 10 %}
                <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                {% endif %}
            </li>
            {% endfor %}
        </div>
    </div>

    <div class="col-md-4">
        <h1 align="right"> Conservative </h1>
        <div class="jumbotron"
             style="padding-top:5px; padding-left:5px; text-align:left; font-size:.9em; background-color:rgba(250, 0, 0, .2) !important">
            {% for document in docs_cons %}
            <li>
                <em>{{ document.publisher }}</em> <a href="{{ document.link }}">{{ document.title }}</a>
                {% if document.cred > 40 %}
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                {% endif %}
                {% if document.cred < 10 %}
                <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                {% endif %}
            </li>
            {% endfor %}
        </div>
    </div>

</div>

</body>

</html> 
